
@page "/servicio-index/{TipoVehiculoId:int}"
@using LavaCar.Shared
@inject HttpClient Http
@inject NavigationManager navigationManager
@using Newtonsoft.Json;
@*@inject IModalService modal*@
@inject DialogService dialogService
@inject ServicioSingleton singleton

<div class="row alert bg-info">
    <div class="col-md-5">
        <h5> <b>SERVICIOS</b></h5>
    </div>
</div>


<RadzenButton Text=@("Nuevo") Click=@Add ButtonStyle="ButtonStyle.Success"/>


<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
            AllowSorting="true" Data="@list" TItem="Servicio" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="Servicio" Property="Nombre" Title="Nombre"></RadzenGridColumn>
        <RadzenGridColumn TItem="Servicio" Property="Valor" Title="Valor"></RadzenGridColumn>
        <RadzenGridColumn TItem="Servicio" Property="Descripcion" Title="Descripcón"></RadzenGridColumn>
        <RadzenGridColumn TItem="Servicio" Property="Estado" Title="Estado">
            <Template Context="data">

                @if (data.Estado == "A")
                {
                    <RadzenCheckBox Value="true"
                                    TValue="bool">
                    </RadzenCheckBox>
                }
                else
                {
                    <RadzenCheckBox Value="false"
                                    TValue="bool">
                    </RadzenCheckBox>
                }

            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Servicio" Context="Servicio" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Left" Width="100%">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Text="Editar" Size="ButtonSize.Medium" Click="@((args) =>Edit(data.Id))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="cancel" Text="Eliminar" Size="ButtonSize.Medium" Click="@((args) =>Delete(data.Id))">
                </RadzenButton>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

<hr/>
<div class="col-md-2">
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="arrow_back" Text="Retornar" Size="ButtonSize.Medium" Click="@Retornar">
    </RadzenButton>
</div>


@code {

    [Parameter]
    public int TipoVehiculoId { get; set; }

    List<Servicio> list;
    Response response = new Response();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async Task LoadData()
    {
        response = await Http.GetFromJsonAsync<Response>($"Servicios/GetServiciosXTipoVehiculo/{TipoVehiculoId}");
        if (response.IsSuccessful)
        {
            list = JsonConvert.DeserializeObject<List<Servicio>>(response.Data.ToString());
        }
    }


    public void Add()
    {
        OpenForm(0, "Nuevo Servicio");
    }

    void Edit(int id)
    {
        OpenForm(id, "Editar Servicio");
    }


    void OpenForm(int id, string accion)
    {
        dialogService.Open<Form>(accion,
              new Dictionary<string, object>() { { "Id", id }, { "TipoVehiculoId", TipoVehiculoId } },
              new DialogOptions() { Width = "700px", Height = "500px" });

        dialogService.OnClose += RelaodDashBoard;
    }



    void RelaodDashBoard(dynamic result)
    {
        if (result != null)
        {
            list = JsonConvert.DeserializeObject<List<Servicio>>(result.Data.ToString());
            StateHasChanged();
        }

    }


    public void Delete(int id)
    {
        dialogService.Open<Delete>("Eliminar",
          new Dictionary<string, object>() { { "Id", id } },
          new DialogOptions() { Width = "700px", Height = "700px" });

        dialogService.OnClose += RelaodDashBoard;
    }

    public void TiposVehiculos(int id)
    {
        navigationManager.NavigateTo("/indextipovehiculo/" + id);
    }



    public void Retornar()
    {
        navigationManager.NavigateTo($"/tipovehiculo-index/{TipoVehiculoId}");
    }
}
